<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoes">
            <h2><span>Shoes</span> {{ <div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoes">
            <h2><span>Shoes</span> {{ shoes.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Img</span></dt>
                <dd>
                    <div *ngIf="shoes.img">
                        <a (click)="openFile(shoes.imgContentType, shoes.img)">
                            <img [src]="'data:' + shoes.imgContentType + ';base64,' + shoes.img" style="max-width: 100%;" alt="shoes image"/>
                        </a>
                        {{ shoes.imgContentType }}, {{ byteSize(shoes.img) }}
                    </div>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ shoes.type }}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ shoes.price }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
             <button type="button"
                 [routerLink]="['/shoes', shoes.id, 'edit']"
                    class="btn btn-primary">
                 <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
             </button>
            </li>
           
        </div>
    </div>
</div>
