<div class="row">
    <div class="col-md-3">
        
    </div>

    <div class="col-md-9">
        <h1 class="display-4">Welcome to EComm!</h1>

        <p class="lead">Shopping made Easy</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <ul>
                    <a class="dropdown-item" routerLink="electronics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Electronics</span>
                    </a>
                </ul>
                <ul>
                    <a class="dropdown-item" routerLink="clothing" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Clothing</span>
                    </a>
                </ul>
                <ul *jhiHasAnyAuthority="'ROLE_ADMIN'" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="dropdown-item" routerLink="purchase" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                        <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                        <span>Purchaser</span>
                    </a>
                </ul>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span >If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
        </div>
    </div>
</div>
