<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lifestyle">
            <h2><span>LifeStyle</span> {{ <div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lifestyle">
            <h2><span>LifeStyle</span> {{ lifestyle.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Img</span></dt>
                <dd>
                    <div *ngIf="lifestyle.img">
                        <a (click)="openFile(lifestyle.imgContentType, lifestyle.img)">
                            <img [src]="'data:' + lifestyle.imgContentType + ';base64,' + lifestyle.img" style="max-width: 100%;" alt="lifestyle image"/>
                        </a>
                        {{ lifestyle.imgContentType }}, {{ byteSize(lifestyle.img) }}
                    </div>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ lifestyle.type }}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ lifestyle.price }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
             <button type="button"
                 [routerLink]="['/lifestyle', lifestyle.id, 'edit']"
                    class="btn btn-primary">
                 <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
             </button>
            </li>
           
        </div>
    </div>
</div>
