<div>
    <h2 id="page-heading">
        <span>Electronics</span>
     <li *jhiHasAnyAuthority="'ROLE_ADMIN'" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-electronics" [routerLink]="['/electronics/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Electronics
            </span>
        </button>
     </li>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="electronics?.length === 0">
        <span>No electronics found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="electronics && electronics.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Img</span></th>
                    <th scope="col" ><span>Modelname</span></th>
                    <th scope="col" ><span>Type</span></th>
                    <th scope="col" ><span>Price</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let electronics of electronics ;trackBy: trackId">
                    <td><a [routerLink]="['/electronics', electronics.id, 'view']">{{ electronics.id }}</a></td>
                    <td>
                        <a *ngIf="electronics.img" (click)="openFile(electronics.imgContentType, electronics.img)">
                            <img [src]="'data:' + electronics.imgContentType + ';base64,' + electronics.img" style="max-height: 30px;" alt="electronics image"/>
                        </a>
                        <span *ngIf="electronics.img">{{ electronics.imgContentType }}, {{ byteSize(electronics.img) }}</span>
                    </td>
                    <td>{{ electronics.modelname }}</td>
                    <td>{{ electronics.type }}</td>
                    <td>{{ electronics.price }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/electronics', electronics.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                        <li *jhiHasAnyAuthority="'ROLE_ADMIN'" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <button type="submit"
                                    [routerLink]="['/electronics', electronics.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                        </li>
                        <li *jhiHasAnyAuthority="'ROLE_ADMIN'" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            <button type="submit" (click)="delete(electronics)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </li>    
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
